---
pagination:
  data: records
  size: 5
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <title>My Record Collection</title>

  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <h1>My Record Collection</h1>

  <div class="collection">
    <p id="message">Showing <output>{{ records.length }} records</output></p>

    <div aria-labelledby="message" role="region">
      <ol class="records">
        {%- for record in pagination.items %}
        <li>
          <strong>{{ record.title }}</strong><br>
          Released in <time datetime="{{ record.year }}">{{ record.year }}</time> by {{ record.artist }}.
        </li>
        {%- endfor %}
      </ol>
    </div>

    <nav aria-label="Select a page">
      <ol class="pages">
        {%- for page_entry in pagination.pages %}
          {%- set page_url = pagination.hrefs[loop.index0] -%}
          <li>
            <a href="{{ page_url }}"{% if page.url == page_url %} aria-current="page"{% endif %}>
              Page {{ loop.index }}
            </a>
          </li>
        {%- endfor %}
      </ol>
    </nav>
  </div>
</body>
</html>