---
pagination:
  data: records
  size: 5
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <title>My Record Collection</title>
</head>
<body>
  <h1>My Record Collection</h1>

  <ol>
    {%- for record in pagination.items %}
    <li>
      <h2>{{ record.title }}</h2>
      <p>Released in <time datetime="{{ record.year }}">{{ record.year }}</time> by {{ record.artist }}.</p>
    </li>
    {%- endfor %}
  </ol>
</body>
</html>