---
pagination:
  data: records
  size: 5
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
  <title>My Record Collection</title>

  <style>
    body {
      font-family: sans-serif; 
      line-height: 1.5;
    }

    ol {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .records > * + * {
      margin-top: 2rem;
    }

    h2 {
      margin-bottom: 0;
    }

    nav {
      margin-top: 2rem;
    }

    .pages {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }

    .pages a {
      border: 1px solid #000000;
      padding: 0.5rem;
      border-radius: 5px;
      display: flex;
      text-decoration: none;
    }

    .pages a:where(:link, :visited) {
      color: #000;
    }

    .pages a:where(:focus, :hover, [aria-current]) {
      background-color: #000000;
      color: #ffffff;
    }
  </style>
</head>
<body>
  <h1>My Record Collection</h1>

  <div class="collection">
    <p id="message">Page {{ pagination.pageNumber + 1 }} of {{ records.length }} results</p>

    <div aria-labelledby="message" role="region">
      <ol class="records">
        {%- for record in pagination.items %}
        <li>
          <h2>{{ record.title }}</h2>
          <p>Released in <time datetime="{{ record.year }}">{{ record.year }}</time> by {{ record.artist }}.</p>
        </li>
        {%- endfor %}
      </ol>
    </div>

    <nav aria-label="Select a page">
      <ol class="pages">
        {%- for page_entry in pagination.pages %}
          {%- set page_url = pagination.hrefs[loop.index0] -%}
          <li>
            <a href="{{ page_url }}"{% if page.url == page_url %} aria-current="page"{% endif %}>
              Page {{ loop.index }}
            </a>
          </li>
        {%- endfor %}
      </ol>
    </nav>
  </div>
</body>
</html>